html
  head
    title='@njdup'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content="Nick Dupoux's personal portfolio, reimagined")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/lib/foundation/css/foundation.min.css')
    link(rel='stylesheet', href='/css/tomorrow.css')
    link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css')

    script(src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/foundation/js/foundation.min.js')
  //end head

  body
    #react-app!= content
  //end body

  script(src='http://localhost:8081/js/app.js', defer)
